<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>
            The Solar System
        </title>
        <link href="/css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"> Home </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/mercury.html"> Mercury </a>
              <a class="nav-item nav-link" href="/venus.html"> Venus </a>
              <a class="nav-item nav-link" href="/earth.html"> Earth </a>
              <a class="nav-item nav-link" href="/mars.html"> Mars </a>
            </div>
        </nav>