<%- include('partials/header.ejs') %>

    <div id="earth">
        <div class="planet-text">
            <h1 id="welcome"> Earth </h1>
            <br />
            <br />
            <p>
                Earth our home planet remains special in our hearts.
            </p>
            <p>
                We are the third planet from the Sun and the fifth largest in the system.
            </p>
            <p>
                Since Earth is the only planet we know of that has liquid water on its surface, it is the only planet we know of that can sustain life.
            </p>
            <p> 
                Earth is the only planet not named after a Greek or Roman god. 
            </p>
            <p>
                Earth simply means "the ground"
            </p>
        </div>
    </div>
        
<%- include('partials/footer.ejs') %>