<%- include('partials/header.ejs') %>
     
        <div id="home">
            <div id="home-text">
                <h1 id="welcome"> Welcome to my Solar System Site!</h1>
        
                <p>Click on a planet to know more about it:</p>
        
                <a href="/mercury.html"> Mercury </a>
                <br />
                <a href="/venus.html"> Venus </a> 
                <br />
                <a href="/earth.html"> Earth </a>
                <br />
                <a href="/mars.html"> Mars </a>
            </div>
        </div>

<%- include('partials/footer.ejs') %>
</html>
