<%- include('partials/header.ejs') %>
     
        <div id="home">
            <div id="home-text">
                <h1 id="welcome"> Welcome to my Solar System Site!</h1>
                <br />
                <p> 
                    Our solar system resides on the outer spiral edge of the Milky Way galaxy
                </p>
                <p>
                    Its called a solar system because the Sun is at the center with all bodies revolving around it
                </p>
            </div>
        </div>

<%- include('partials/footer.ejs') %>
</html>
