<%- include('partials/header.ejs') %>

        <div id="mars">
            <div class="planet-text">
                <h1 id="welcome"> Mars </h1>
                <br />
                <br />
                <p>
                    Mars is a desert planet with a thin atmosphere.
                </p>
                <p>
                    It is one of the most explored body in our system. 
                </p>
                <p>
                    It is the only planet we have used rovers on.
                </p>
                <p>
                    There are currently three spacecraft in orbit, plus one rover and one lander on the surface.
                </p>
                <p>
                    Mars Perserverence will launch on July 22, 2020.
                </p>
            </div>
        </div>
        
<%- include('partials/footer.ejs') %>
</html>