<%- include('partials/header.ejs') %>

    <div id="mercury">
        <div class="planet-text">
            <h1 id="welcome"> Mercury</h1>
            <br />
            <br />
            <p>
                Mercury is the smallest plant due to being so close to the gravitation forces of the Sun.
            </p>
            <p>
                In comparision to Earths moon, Mercury is only slightly larger.
            </p>
            <p>
                Even though Mercury is the closest planet to the Sun, it is not the hottest. 
                That title belongs to Venus.
            </p>
            <p> 
                With no atmosphere Mercury's day temperature can reach 800°F (430°C) while at night as low as -290°F (-180°C).
            </p>
            <p>
                Mercury rotates areound the Sun every 88 Earth days, making it the fastest planet in out solar system.
            </p>
        </div>
    </div>
        
<%- include('partials/footer.ejs') %>
</html>