<%- include('partials/header.ejs') %>
    
    <div class="container">
        <div class="inner-container">
            <div class="planet-nav">
                <nav>
                    <a href="/"> Home </a> 
                    <br />
                    <a href="/venus.html"> Venus </a> 
                    <br />
                    <a href="/earth.html"> Earth </a>
                    <br />
                    <a href="/mars.html"> Mars </a>
                </nav>
            </div>
            <div class="planet-container">
                <div id="mercury">
                    <div class="planet-text">
                        <h1 id="welcome"> Mercury</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
<%- include('partials/footer.ejs') %>
</html>