<%- include('partials/header.ejs') %>

    <div id="venus">
        <div class="planet-text">
            <h1 id="welcome"> Venus </h1>
            <br />
            <br />
            <p> 
                Venus is the second planet from the Sun and is called Earths twin due to their similarities in size and gravity.
            </p>
            <p>
                It is the hottest planet in our system, with its dense atmosphere creating a strong greenhouse effect.
            </p>
            <p>
                Venus is one of two planets that rotate in the opposite direction of the majority of planets in our system.
            </p>
            <p>
                This planet was named after Aphrodite the Greek Goddess of love and beauty.
            </p>
            <p> 
                It takes the Sun's light only 6 minutes to reach Venus, which rotates around the Sun every 243 Earth days.
            </p>
        </div>
    </div>
        
<%- include('partials/footer.ejs') %>
</html>